<div ng-cloak>       
    <md-menu>
        <div id="open-menu-button" class="md-icon-button tree-item" ng-click="$ctrl.onFolderClicked($ctrl.tree)" ng-right-click="$ctrl.openMenu($mdMenu, $event)">         
            <div class="tree-item">
                <span class="material-icons" ng-show="$ctrl.tree.isSharedFolder && ($ctrl.tree.folders[0].collapsed || $ctrl.tree.tags[0].collapsed)">folder_shared</span>
                <span class="material-icons" ng-show="!$ctrl.tree.isSharedFolder && ($ctrl.tree.folders[0].collapsed || $ctrl.tree.tags[0].collapsed)">folder</span>
                <span class="material-icons" ng-show="!$ctrl.tree.folders[0].collapsed && !$ctrl.tree.tags[0].collapsed">folder_open</span> 
                {{$ctrl.tree.folderName}}
            </div>
        </div>
        <md-menu-content>
            <md-menu-item ng-if="!$ctrl.tree.isSharedFolder">
                <md-button ng-click="$ctrl.onFolderEdited($ctrl.tree)">
                    <span class="material-icons action-icon">edit</span>
                    עריכה
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="!$ctrl.tree.isSharedFolder">
                <md-button ng-click="$ctrl.onFolderDeleted($ctrl.tree)">
                    <span class="material-icons action-icon">delete_outline</span>
                        מחיקה
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.onFolderShared($ctrl.tree)">
                    <span class="material-icons action-icon">share</span>
                    שיתוף
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.onFolderDuplicated($ctrl.tree)">
                    <span class="material-icons action-icon">filter_none</span>
                    שכפול
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.tree.isSharedFolder">
                <md-button ng-click="$ctrl.onSharedInfo($ctrl.tree)">
                    <span class="material-icons action-icon">info</span>
                    מי שיתף איתי
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.tree.isSharedFolder">
                <md-button ng-click="$ctrl.onRemoveSharing($ctrl.tree)">
                    <span class="material-icons action-icon">remove_circle_outline</span>
                    הסר שיתוף
                </md-button>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<ul>
    <li ng-repeat="folder in $ctrl.tree.folders track by folder.folderId" ng-hide="folder.collapsed">
        <folder-handling tree="folder" handle-action="$ctrl.handleAction"></folder-handling>
    </li>
    <tags-handling tree="$ctrl.tree" handle-action="$ctrl.handleAction"></tags-handling>
</ul>