<div ng-cloak>       
    <md-menu>
        <div class="tree-item">  
            <span ng-if="$ctrl.tree.tagName && !$ctrl.tree.isSharedTag" class="material-icons menu-icon" ng-click="$ctrl.openMenu($mdMenu, $event)">more_vert</span>
            <apan ng-if="$ctrl.tree.isRule">
                <span ng-if="$ctrl.tree.isRuleStopped" class="material-icons play-icon" ng-click="$ctrl.onTagRuleStarted($ctrl.tree)" title="הפעל חוק">
                    play_circle_filled
                </span>
                <span ng-if="!$ctrl.tree.isRuleStopped" class="material-icons pause-icon" ng-click="$ctrl.onTagRuleStoped($ctrl.tree)" title="הפסק חוק">
                        pause_circle_filled
                </span>
            </apan>
            <div ng-click="$ctrl.onTagClicked($ctrl.tree)">{{$ctrl.tree.tagName}}</div> 
        </div> 

        <md-menu-content>
            <md-menu-item>
                    <md-button ng-click="$ctrl.showEditTagDialog($event, $ctrl.tree)">
                        <span class="material-icons action-icon">edit</span>
                        עריכה
                    </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.showDeleteConfirm($event, $ctrl.tree)">
                    <span class="material-icons action-icon">delete_outline</span>
                    מחיקה
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="$ctrl.onTagExported($ctrl.tree)">
                    <span class="material-icons action-icon">reply</span>
                    ייצוא לרמזור
                </md-button>
            </md-menu-item>
            <md-menu-item ng-if="$ctrl.tree.hasKml">
                <md-checkbox ng-checked="$ctrl.checkboxKML" ng-click="$ctrl.onDisplayKmlTag($ctrl.tree)" aria-label="checkboxKML">
                    הצג ישויות
                </md-checkbox>
            </md-menu-item>
        </md-menu-content>
    </md-menu>
</div>
<li ng-repeat="tag in $ctrl.tree.tags track by tag.tagId" ng-hide="tag.collapsed">
    <tags-handling tree="tag" handle-action="$ctrl.handleAction"></tags-handling>
</li>