<md-menu>
  <md-button ng-click="$mdMenu.open($event)">
    <md-tooltip>{{$ctrl.currentTitle}}</md-tooltip>
    <md-icon>{{$ctrl.currentIcon}}</md-icon>
  </md-button>
  <md-menu-content width="1">
    <md-menu-item ng-repeat="alarm in $ctrl.alarms.getAlarms()">
      <md-button class="alarm-option" ng-click="$ctrl.onAlarmChanged(alarm)">
        {{$ctrl.alarms.getAlarmTitle(alarm)}}
        <md-icon class="alarm-icon"
          >{{$ctrl.alarms.getAlarmIcon(alarm)}}</md-icon
        >
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
