<md-menu>
  <md-button ng-click="$mdMenu.open($event)">
    <md-tooltip>{{$ctrl.currentTitle}}</md-tooltip>
    <md-icon>{{$ctrl.currentIcon}}</md-icon>
  </md-button>
  <md-menu-content>
    <md-menu-item ng-repeat="alarm in $ctrl.alarms.getAlarms()">
      <md-button ng-click="$ctrl.onAlarmChanged(alarm)">
        <span class="alarm-item-container">
          <p>{{$ctrl.alarms.getAlarmTitle(alarm)}}</p>
          <md-icon>
            {{$ctrl.alarms.getAlarmIcon(alarm)}}
          </md-icon>
        </span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>
