<div dir="ltr" class="messages-alarts-container">
  <div class="first-message">
    <alarm class="alarm" handle-action="$ctrl.doAction(num,type)"></alarm>
    <div class="main-title-text">הודעות מערכת</div>
  </div>
  <md-list>
    <md-list-items
      ng-repeat="message in $ctrl.messagesHistory.getTopMessages($ctrl.numMessages)"
    >
      <single-message
       visibility ="$ctrl.messageTypes.getMessageStyle(message.getType())"
       content="message.getContent()"
       icon = "$ctrl.messageTypes.getMessageIcon(message.getType())">
      </single-message>
    </md-list-item>
  </md-list>
  <div class="edges-raw" ng-if="$ctrl.showLastMessage()" >
    <single-message
    visibility = "$ctrl.lastMessageStyle"
    content= "$ctrl.lastMessageContent"
    icon = "$ctrl.lastMessageIcon">
   </single-message>
  </div>
</div>
