body {
  padding-top: 80px;
}

.pointable {
  cursor: pointer;
}

.small-well {
  min-height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.btn-spaced {
  margin-right: 15px;
}

.error-message {
  color: red;
}

.loading.message {
  color: blue;
}

.success-message {
  color: green;
}

.item {
  border: 1px solid #999;
  margin-top: 15px;
  padding: 15px;
  border-radius: 4px;
  background: #4278b3;
  color: #fff;
}

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  -webkit-transition: all linear 3s;
  transition: all linear 3s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity: 0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity: 1;
}
