body {
  padding-top: 80px;
}

.pointable {
  cursor: pointer;
}

.small-well {
  min-height: 15px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 3px;
}

.btn-spaced {
  margin-right: 15px;
}

.error-message {
  background-color: #e14e4e;
  opacity: 0.9;
}

.loading.message {
  background-color: #445bd1;
}

.success-message {
  background-color: #58cb74;
}

.item {
  border: 1px solid #999;
  width: 205px;
  height: 40px;
  margin-top: 10px;
  border-radius: 4px;
}

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  transition: all linear 3s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity: 0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity: 1;
}
