<div dir="rtl">
  <div>
    <div dir="ltr">
      <md-button ng-click="$ctrl.cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
    <h3>בחירת שכבות לחיפוש גיאוגרפי</h3>
  </div>

  <div>
    <md-input-container class="md-block" flex-gt-sm>
      <label>חפש שכבה</label>
      <input ng-model="$ctrl.searchText" />
    </md-input-container>
  </div>

  <div ng-repeat="(id,item) in $ctrl.sources">
    <source
     source = "item",
     select-all = "$ctrl.onSource(source, selection)",
     select-layer = "$ctrl.onSingleLayerSelected(source,layerId)",
     un-select-layer = "$ctrl.onSingleLayerUnSelected(source,layerId)"
    ></source>
  </div>

  <div>
    <md-button onclick="$ctrl.onSave()">שמור</md-button>
    <md-button onclick="$ctrl.onChangeAllSelections(false)">נקה בחירה</md-button>
  </div>
</div>
