<div class="source">
  <md-button class="expand-button" ng-click="$ctrl.onExpand()">
    <md-icon>{{$ctrl.expandIcon}}</md-icon>
  </md-button>
  <md-checkbox
    ng-disabled="$ctrl.source.sourceData.isDisabled"
    ng-click="$ctrl.toggleAll()"
    ng-checked="$ctrl.source.sourceData.isSelected"
  >
    <span>{{$ctrl.source.sourceData.displayName}}</span>
  </md-checkbox>
</div>
<div
  class="layers"
  ng-class="$ctrl.expandClass"
  ng-repeat="(key,value) in $ctrl.source.layers"
>
  <md-checkbox
    ng-disabled="value.isDisabled"
    ng-click="$ctrl.toggle(key)"
    ng-checked="value.isSelected"
  >
    <span> {{ value.displayName }}</span>
  </md-checkbox>
</div>
