.error-message {
  background-color: #e14e4e;
  opacity: 0.9;
  padding: 0;
}

.loading-message {
  background-color: #99bbff;
}

.success-message {
  background-color: #58cb74;
}

#messages-container {
  border-style: solid;
  border-width: 1px;
}
.item {
  width: 205px;
  height: 40px;
  text-align: center;
  color: white;
}

.messages-list {
  padding: 0px;
}

.item.ng-move,
.item.ng-enter,
.item.ng-leave {
  transition: all linear 3s;
}

.item.ng-leave.ng-leave-active,
.item.ng-move,
.item.ng-enter {
  opacity: 0;
}

.item.ng-leave,
.item.ng-move.ng-move-active,
.item.ng-enter.ng-enter-active {
  opacity: 1;
}
